@font-face {
    font-family: 'Geist';
    src: url('fonts/GeistVariableVF.ttf') format('truetype');
}

body {
    text-align: center;
    background-color: black;
    font-family: "Geist";
    font-weight: normal;
}

.space {
    margin: 500px;
}

h1 {
    text-align: center;
    font-family: "Nabla";
    font-weight: normal;
    position: relative;
    overflow: hidden;
    color: white;
}

.stMain {
    position: sticky;
    top: 0;
}

p {
    color: white;
    text-align: left;
    font-family: "Geist";
    font-weight: normal;
    position: relative;
    overflow: hidden;
}

h2 {
    text-align: right;
    font-family: "Geist";
    font-weight: normal;
    color: white;
    position: relative;
    overflow: hidden;
}

h1::after {
    content: "";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: inherit;
    z-index: -1;
    filter: blur(0px);
    transition: filter 0.3s ease-out;
}
